<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171229181354-mbk5nhnumq6b2kg510jd3qu2mod4ufa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171229181354-mbk5nhnumq6b2kg510jd3qu2mod4ufa8</string>
	<key>API_KEY</key>
	<string>AIzaSyD21uoInWBH3PPHiUZAqbTW414LEAdjXJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>171229181354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberClone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-8e899</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-8e899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171229181354:ios:fdae1bc7ff7368d07627d3</string>
</dict>
</plist>